@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --light-mint: #e7f7f4;
    --darker-mint: #8febd5;
    --navy: #2b2741;
    --black: #000000;
    --grey: slategrey;
}

body{
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    cursor: crosshair;
    margin: 0;
    padding: 0;
    height: 100%;

    
   
}

a {
    text-decoration: none;
    color: var(--grey);
}

img{  
    border-radius: 0%;
    max-width: 90%;
    position: 
    height: auto;
    opacity: 100%;
    border-style: solid;
    border-color: var(--darker-mint);
}

.resume {
    border-style: solid solid solid solid;
    border-color: var(--navy);
    width: 900px;
    background: $darkest-blue;
    color: $white;
    margin: 20px auto;
    box-shadow: 10px 10px $black;
    position: relative;
    display: flex;
}

.left { 
    float: left;
    background-color: var(--navy);
    width: min-content;
    height: auto;
    padding: 2%;

    border-style: none solid none none;
    border-width: 20px;
    border-color: var(--darker-mint);
}

.left .contact{
    color: var(--grey);
}

.right {
    padding: 20px 20px 20px 50px;
    float: left;
    color: var(--navy);
    background-color: var(--light-mint);
    width: 100%;
    height: 100%;
}

h1 {
	color: var(--darker-mint);
	margin: 10px 0px 10px 0px;
	text-transform: uppercase;
	font-size: 2em;
}

h2 {
	color: var(--darker-mint);
	margin: 10px 0px 10px 0px;
	text-transform: uppercase;
	font-size: 1.4em;
}

h3 {
	color: var(--darker-mint);
	margin: 10px 0px 10px 0px;
	text-transform: uppercase;
	font-size: 1.2em;
}

.right h3 {
	color: var(--black);
	margin: 10px 0px 10px 0px;
	text-transform: uppercase;
	font-size: 1.2em;
}

.right span.small {
    font-size: 0.9em;
    color: var(--grey);
}

.right span.bold {
    font-weight: bolder;
    color: var(--black);
}
